.record-grid {
  display: grid;
  gap: 1rem;
  padding: 0rem;
  margin: 0 auto;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  align-items: start;
}

@media (max-width: 768px) {
    .record-grid {
        grid-template-columns: 1fr;
        padding: 0 1rem;
    }
}
